/* COPERTINA */

.copertina {
    width: 100%;
    padding: 80px 0 50px 0;
    text-align: center;
    background-color: var(--mdc-theme-primary);
}

.copertina img {
    width: 150px;
}

.copertina h1 {
    color: #ffffff;
    margin-top: 0;
}
