/* CARDS */

.mdc-card__primary-action {
    padding-left: 20px;
}

.mdc-card {
    margin-bottom: 20px;
}

.text {
    margin-top: 0;
}


/* VUOTO */

.vuoto {
    width: 100%;
    padding: 100px 0 100px 0;
    color: rgba(0,0,0,0.40);
    text-align: center;
}

.vuoto i {
    font-size: 100px;
}


/* DIALOG */

#elemento_titolo {
    width: 100%;
    margin-bottom: 10px;
}
