/* PAGINA */

#note {
    padding-bottom: 100px;
}


/* CARDS */

.mdc-card__primary-action {
    padding-left: 20px;
}

.mdc-card {
    margin-bottom: 20px;
}

.text {
    margin-top: 0;
}


/* DIALOG */

#elemento_titolo {
    width: 100%;
    margin-bottom: 10px;
}
