/* TEMA */

:root {
    --mdc-theme-primary: #ffb300;
    --mdc-theme-secondary: #ff5722;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
}


/* PAGINA */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.page-content {
    padding-bottom: 120px;
}


/* ETICHETTE */

.mdc-floating-label {
    color: var(--mdc-theme-secondary)!important;
}


/* FABs */

.mdc-fab {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
