<option value="886">Centro linguistico di Ateneo</option>
<option value="340">Laurea in Beni culturali</option>
<option value="419">Laurea in Bioinformatica</option>
<option value="385">Laurea in Biotecnologie</option>
<option value="375">Laurea in Economia Aziendale (Verona)</option>
<option value="377">Laurea in Economia Aziendale (Vicenza)</option>
<option value="376">Laurea in Economia e Commercio (Verona)</option>
<option value="378">Laurea in Economia e Commercio (Vicenza)</option>
<option value="339">Laurea in Filosofia</option>
<option value="477">Laurea in Fisioterapia (Verona)</option>
<option value="602">Laurea in Igiene dentale (Verona)</option>
<option value="471">Laurea in Infermieristica (Verona)</option>
<option value="420">Laurea in Informatica</option>
<option value="338">Laurea in Lettere</option>
<option value="343">Laurea in Lingue e culture per il turismo e il commercio internazionale</option>
<option value="350">Laurea in Lingue e culture per l'editoria</option>
<option value="904">Laurea in Lingue e letterature per l'editoria e i media digitali</option>
<option value="351">Laurea in Lingue e letterature straniere</option>
<option value="480">Laurea in Logopedia</option>
<option value="418">Laurea in Matematica Applicata</option>
<option value="476">Laurea in Ostetricia</option>
<option value="390">Laurea in Scienze dei servizi giuridici</option>
<option value="359">Laurea in Scienze del servizio sociale</option>
<option value="360">Laurea in Scienze dell'educazione</option>
<option value="356">Laurea in Scienze della comunicazione</option>
<option value="361">Laurea in Scienze della formazione nelle organizzazioni</option>
<option value="386">Laurea in Scienze e tecnologie viticole ed enologiche</option>
<option value="861">Laurea in Scienze psicologiche per la formazione</option>
<option value="483">Laurea in Tecniche di fisiopatologia cardiocircolatoria e perfusione cardiovascolare</option>
<option value="484">Laurea in Tecniche di laboratorio biomedico (Verona)</option>
<option value="486">Laurea in Tecniche di radiologia medica, per immagini e radioterapia (Verona)</option>
<option value="274">Laurea magistrale a ciclo unico in Giurisprudenza</option>
<option value="395">Laurea magistrale a ciclo unico in Medicina e chirurgia</option>
<option value="792">Laurea magistrale a ciclo unico in Scienze della formazione primaria</option>
<option value="384">Laurea magistrale in Banca e finanza</option>
<option value="388">Laurea magistrale in Biotecnologie agro-alimentari</option>
<option value="907">Laurea magistrale in Biotecnologie per le biorisorse e lo sviluppo ecosostenibile</option>
<option value="812">Laurea magistrale in Comparative European and Non-European Languages and Literatures</option>
<option value="381">Laurea magistrale in Direzione Aziendale</option>
<option value="382">Laurea magistrale in Economia e legislazione d'impresa</option>
<option value="380">Laurea magistrale in Economics</option>
<option value="368">Laurea magistrale in Editoria e giornalismo</option>
<option value="691">Laurea magistrale in Governance dell'emergenza</option>
<option value="417">Laurea magistrale in Ingegneria e scienze informatiche</option>
<option value="694">Laurea magistrale in International Economics and Business Management</option>
<option value="392">Laurea magistrale in Lingue per la comunicazione turistica e commerciale</option>
<option value="697">Laurea magistrale in Linguistics</option>
<option value="902">Laurea magistrale in Management e strategia d'impresa - in approvazione</option>
<option value="383">Laurea magistrale in Marketing e comunicazione d'impresa</option>
<option value="389">Laurea magistrale in Mathematics</option>
<option value="769">Laurea magistrale in Medical bioinformatics</option>
<option value="698">Laurea magistrale in Molecular and medical biotechnology</option>
<option value="860">Laurea magistrale in Psicologia per la formazione</option>
<option value="364">Laurea magistrale in Scienze filosofiche</option>
<option value="469">Laurea magistrale in Scienze infermieristiche e ostetriche - Verona</option>
<option value="490">Laurea magistrale in Scienze pedagogiche</option>
<option value="470">Laurea magistrale in Scienze riabilitative delle professioni sanitarie</option>
<option value="696">Laurea magistrale in Servizio sociale in ambiti complessi</option>
<option value="363">Laurea magistrale in Tradizione e interpretazione dei testi letterari</option>
<option value="551">Laurea magistrale interateneo a ciclo unico in Scienze della formazione primaria di Padova - Sede di Verona</option>
<option value="695">Laurea magistrale interateneo in Arte</option>
<option value="656">Laurea magistrale interateneo in Quaternario, preistoria e archeologia</option>
<option value="563">Laurea magistrale interateneo in Scienze storiche</option>
